#content1 {
  background-image: url(52016.jpg);
  background-color: #FFF0F5;
  background-position: center center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 600px;
}

#content2 {
  background-image: url(young.jpg);
  background-color: #FFF0F5;
  background-position: center center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 700px;
}
