#headertop {
  background: #FFE4E1;
  width: 100%;
  height:75px;
  text-align:center;
  display: flex
    align-items: center;
}


#header-under-top {
	background: #444;
    width: 100%;
    height:75px;
    position: relative;
    overflow: hidden;
    height: 40px;
    margin: 30px 0
}

#header-under-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
    font: 14px Arial, Helvetica, sans-serif;
    height: 40px
}
#header-under-top ul li {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 10px;
    height: 40px
}
#header-under-top ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 40px;
}
#header-under-top ul li a:hover {
    background-color: #666;/*#FFE4E1*/
}

#table {
  border-collapse: collapse;
}

#content {
  background-image: url(1974.jpg);
  background-color: #FFF0F5;
  background-position: center center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 1340px;
}
